body {
  margin: 0;
  padding: 0;
  background: #E4FBF5;
  font-family: 'Inter Variable', sans-serif;
}

.header {
  background: #121C31;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & > a {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;

    a {
      color: white;
      font-weight: 300;
      font-size: 1.2rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer {
  background: #121C31;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    color: white;
    font-weight: 300;
    font-size: 1.2rem;
  }
}

main {
  min-height: 100vh;
  padding: 2rem 3rem;
  overflow-y: scroll;

  h2 {
    font-weight: 500;
    font-size: 2rem;
  }
}

.halfWidthSection {
  display: inline-block;
  background: white;
  border-radius: 16px;
  padding: 50px;
  width: calc(50% - 125px);

  a {
    color: black;
    font-weight: 500;
    font-size: 1.5rem;
  }
}

.halfWidthSection + .halfWidthSection {
  margin-left: 50px;
}
