.rightAnchoredShelf {
  position: fixed;
  width: 25vw;
  top: 10rem;
  right: 0;
  background: white;
  border: 0.2rem solid #121C31;
  border-right: 0;
  padding: 2rem;
  border-radius: 1rem 0 0 1rem;
  z-index: 100;
  p {
    max-width: 50ch;
  }
}

.quadrants {
  width: 100%;
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
  gap: 0;

  & > *:nth-child(2),
  & > *:nth-child(3) {
    align-self: end;
  }
}

.quadrant {
  position: relative;
  margin: 0;
  padding: 0;
  width: 480px;
  height: 480px;
}

.quadrantTitle {
  position: absolute;
  z-index: 100;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 4rem 3.5rem;
  text-transform: capitalize;

  &.top-left {
    top: 0;
    left: 0;
  }

  &.top-right {
    top: 0;
    right: 0;
  }

  &.bottom-left {
    bottom: 0;
    left: 0;
  }

  &.bottom-right {
    bottom: 0;
    right: 0;
  }
}

.blip {
  position: absolute;
  margin-left: -15px;
  margin-top: -15px;
}

.blip > div {
  position: relative;
  background: grey;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.circleOutline > div::after {
  position: absolute;
  content: '';
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border-width: 3px;
  border-style: solid;
  border-color: inherit;
}

.quadrantList {
  font-size: 0.9rem;

  h3 {
    text-transform: capitalize;
    margin-bottom: 0;
  }

  &.top-left {
    margin-right: 5rem;
  }

  &.top-right {
    margin-left: 5rem;
  }

  &.bottom-left {
    margin-right: 5rem;
  }

  &.bottom-right {
    margin-left: 5rem;
  }

  .quadrantListsDepth {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 1rem 2rem;

    ul {
      padding-left: 0;
    }

    li:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.label {
  display: inline-block;
  color: black;
  padding: 0.4rem 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid black;
  font-size: 0.8rem;
  font-weight: bold;
  font-variant: small-caps;
}

.labelGroup {
  display: flex;
  gap: 0.5rem;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
}
