.breadcrumb {
	list-style-type: none;
	margin: 0;
	padding: 0;
  display: flex;
  gap: 0.3rem;
  font-size: 0.9rem;
}

.breadcrumb > * + *::before {
	content:"\A";
	width:0.5em;
	height:0.5em;
	border-radius:50%;
	background: #4a4a4a;
	display:inline-block;
	margin:0 0.4rem;
}
